@import "tailwindcss";

@theme {
  --color-primary: #70c0fa;
  --color-primary-hover: #5bb3f5;
  --color-primary-light: #9ad4fc;
}

@layer utilities {
  .clip-path-hero {
    clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
  }
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

body {
  margin: 0;
  padding: 0;
  color: #1e293b;
  /* Slate-800 */
}